<% content_for :page_title do %>
  Günlükler
<% end %>

<div class="float-right">
  <%= link_to 'Yeni Yazı Ekle', new_post_path %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th colspan="2">Günlük Başlığı</th>
    <th>Yazar</th>
    <th>Yorum Sayısı</th>
    <th>Yayınlanma Tarihi</th>
  </tr>
  </thead>
  <tbody>
  <%= render @posts %>
  </tbody>
</table>